<ion-view view-title="Cartella">
  <ion-content>
    <div class="Cartella_listaCartelle">
      <div class="Cartella_minimapCartella" ng-repeat="cartella in cartelle">
        <p>{{cartella}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
  </ion-content>
</ion-view>
