<ion-view view-title="Login">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label Login_inputNickname">
        <span class="input-label">Nickname</span>
        <input type="text" placeholder="es.: John Doe" ng-model="login.nickname">
      </label>
      <label class="item Login_itemAllBorders">
        <button class="button button-block button-positive" ng-click="doLogin()">Entra</button>
      </label>
      <label class="item Login_itemAllBorders Login_noPadding">
        <p>Oppure</p>
      </label>
      <label class="item Login_itemAllBorders">
        <button class="button button-block button-positive" ng-click="doLoginAnonymous()">Entra come anonimo</button>
      </label>
    </div>
  </ion-content>
</ion-view>
